@import '../../_variables.scss';
.title-panel {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px;
  background: rgba(34, 34, 34, 0.8);
  z-index: 1000;
  color: $offWhite;
  display: none;

  h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
  }
}

@media screen and (min-width:800px){    
    .title-panel{display:block;}
}